


body {
  background-color: rgb(255, 255, 255);
}

.section{
  width:100%;
  height:100vh; 
 }

h2{
  font-variant: small-caps;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  font-size: 80px;
  font-weight: bold;
}

h3{
  font-variant: small-caps;
  font-family: 'Times New Roman', Times, serif;
  color:#f56196dd;
  font-size: 40px;
  font-weight: bold;
}

h4{
  font-family: 'Times New Roman', Times, serif;
  color:#f56196dd;
  font-size: 15px;
}


@font-face {
  font-family: LinotteFont;
  src: url('Linotte Semi Bold.otf');
}

p {
  font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 25px;
    line-height: 1.75;
}

section {
  width:100%;
  height:100vh;  
} 

/* The sidebar navigation */

 /* .sidenav {
  width: 15%;
  position: fixed;
  top: 30%; /*relative to its browser fixed position  
  left: 10px; (could change) 
  z-index: 4; helps sidenav be stacked on top of other elements 
  background: rgb(140, 205, 243); 
  overflow-x: hidden; 
  padding: 8px 0; (could change) 
  font-family: "Verdana", sans-serif; 
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  transition: 0.5 sec;  
} 

 .sidenav a {
  padding: 8px 8px 8px 35px;
  text-decoration: none; removes underline in links 
  font-size: 15px;
  color: white; 
  display: block;  This is what is making the sidenav stack on top of each other. All the links are block so they use up the whole width of the browser  
}

 .sidenav a:hover { 
    color: rgb(31, 71, 29); 
} 

 On smaller screens, where height is less than 250px, change the style of the sidenav (less padding and a smaller font size)
@media and (max-width: 700px) {
  .sidenav {padding-top: 500px;
  }
  .sidenav a {font-size: 500px;
  }
  header{color:black;
  }
} */





/* .banner_area{
  width:100%;
  height:100vh;  
} */



#mainbox{
  font-size: 24px;
  cursor: pointer; /*The cursor property specifies the mouse cursor to be displayed when pointing over an element. */
  transition: all .6s; /*transition will be applied to all properties in the main-box*/
 }
 .sidemenu{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  background-color: #222;
  z-index: 1; /*The z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky). */
  padding-top: 100px;
  overflow-x: hidden;
  transition: all .5s;
 }
 .sidemenu a{
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 20px;
  color: #999;
  display: block;
 }
 .sidemenu a:hover{
   color: white;
 }
 .sidemenu .closebtn{
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 32px;
 }


/* Title section */

.oppa_img{
height:100%;
object-fit: fill;
position:absolute;
width: 100%;
} 


#title_container {
  width: 200px;
  position: absolute;
  left: 70%;
  top: 20%;
}


#banner_title {
  position: absolute;
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: #f56196dd;
} 

 /* About section  */

 #mountains_pic{
    height: 85%;
    object-fit: contain;
    position: absolute;
    width: 50%;
    right: 2%;
    margin-top: 52px;
  } 

 #about_section{
   background-color: #ffa2c9;
 }

#about_content_container{
    width: 80%;
    position: absolute;
    margin-top: 80px;
}

#about_par{
  color: white;
}

.side_content{
  position: relative;
    width: 50%;
    height: 50%;
    top: 10%;
    left: 5%;
    display: inline-block;
    font-size: 25px;
}
 

/* Discovering Kpop Section */
 #discovering_section{
   background-color:rgb(255, 255, 255);
 }
 #dis_kpop_title{
   color:#ffa2c9;
 }

 #dis_kpop_par{
   color:#f56196dd;
   font-size: 15px;
 }

 #dis_kpop_content_container{
  width: 50%;
  height:100%;
  right: 2%;
  position: absolute;
  padding-top: 45px;
  overflow: hidden;
 }

 /* Music/Concerts section  */

 #kmusic_section{
  width:100%;
  height:100%; 
  background-color:rgb(255 227 238);
  text-align: center;

 }

 #music_title{
   color:#f56196dd;
 }

 #kmusic_par{
  color:#f56196dd;
  font-size: 20px;
}

#kmusic_content_container{
  width: 100%;
  padding-top: 45px;
 }





.Audio { 
display: inline-block;
width: 300px;
  height: 100px;
  padding: 10px;
  color: rgba(133, 55, 127, 0.815);
  font-size:15px;
  text-align: center;

}

.concert_img {
  width: 20vw;
  height: 40vh;
  padding: 20px;
  display: inline-block;
  object-fit: contain;
}



/* Kdrama Binge section */

#kbinge_section{
  width:100%;
  height:100%; 
  background-color:#f56196dd;
  text-align: center;
}


/* image overlay */
#kbinge_content_container {
  width: 100%;
  padding-top: 45px;
}

#kdrama_par{
  font-size: 20px;
  color:white;
}


#six-image-container{
  padding-bottom: 45px;

}

.image { /* positions overlay 100% w and h over image*/
  position: relative;
  width: 415px; /* can change to % etc */
  height: 315px;
  display: inline-block;
}

.image__img { /* image itself */
  display: block;
  width: 100%; /* will make image take 100% of the 400px width containter */
  height:100%;
}

.image__overlay { /* the container with overlay and image */
  position: absolute; /* works with position; relative above */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex; /*allows to vert and hor center the text */
  flex-direction: column; /* text appears on top of each other */
  align-items: center; /*allows to vert and hor center the text */
  justify-content: center; /*allows to vert and hor center the text */
  opacity: 0; /* makes opacity of intial overlay 0 */
  transition: opacity 0.25s;
}

.image__overlay--blur { /* to blur images in background when you hover over the image */
  backdrop-filter: blur(5px);
}


.image__overlay > * { /* says target every direct child of the image overlay containter which is the title and para */
  transform: translateY(20px); /* Text comes up from the bottom when you hover:text is going to be pushed down 20px from the original position */
  transition: transform 0.25s; /* Text comes up from the bottom when you hover: text is going to be pushed back up slowly when you hoveer away */
}

.image__overlay:hover { /* styling when you hover image */
  opacity: 0.85;
}

.image__overlay:hover > * { /* agaain target child elements */
  transform: translateY(0); /* Text comes up from the bottom when you hover - text is going to be pushed back up  when you hoveer away */
}

.image__title { /* only styling for the title */
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.image__description { /* only styling for the image description */
  font-size: 0.90em;
  margin-top: 0.25em;
  text-align: center;
  margin-left:20px;
  margin-right: 20px;
}

.kdrama-image-link {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}



.image__title_2 { /* different font size for the title of strong woman drama */
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}




 /* My Dancing Career Section  */

 #dancing_section{
  width:100%;
  height:100%; 
 }

 #kpopdancing_title{
   color:#f56196dd;
   padding: 45px;
   text-align:center;

 }
  /* No margin side by side boxes */

.box-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 1.5;

  
}

#three-boxes-container{
max-width: 100%;
height: 400px;
margin:0 auto;
text-align:center;
padding-bottom:45px;

}

.no-margin-3-boxes{
  color: white;
  /*box-sizing:border-box;  defines how the w and h of an element are calc. whether they have padding,borders, or not*/
   /* dont want it to be 50/50% bc we need to leave room for padding,etc*/
  height: 100%;
  width: 350px;
  display: inline-block;
  vertical-align: top; /* aligns tops of boxes without having to use float left which takes your boxes off center.
  overflow:scroll; */
  }


#first-box{
  background-color: rgb(150 214 225);
}

#second-box{
  background-color: rgb(150 214 225);
}

#third-box{
  background-color: rgb(150 214 225);
}


.circle_title{ 
  color:white;
}

.box_content{
  margin-top: 30px;

}



/* Video section */

#video_section{
  width:100%;
  height:100vh; 
  background-color:rgb(255 227 238);
}

#vid_title{
  color:#f56196dd;
  text-align:center;
  padding: 45px;
}
#video_container {
  width: 80%;
  margin: auto; /* The element will then take up the specified width, and the remaining space will be split equally between the left and right margins. */
  height: 50%;
}


/* iframe{
  width:50%;
} */
